/*Header*/
.header {
    display: flex;
    margin-top: 30px;
    padding-bottom: 25px;
    justify-content: space-between;
    border-bottom: 1px solid #d3d3d3;
}

.header__logo-nav{
    display: flex;
}

.header__logo{
    display: flex;
    margin: 0 50px;
    align-items: center;
}

.header__logo img{
    width: 130px;
    height: 28px;
}

.header__nav{
    display: flex;
    align-items: center;
}

.header__nav ul {
    display: flex;
}

.header__nav ul li {
    margin-right: 50px;
}

.header__nav ul li a{
    color: black;
    font-size: 15px;
    font-weight: 400;
    font-family: Graphik LC TT, sans-serif;
}

.header__buttons{
    margin-right: 50px;
}

.header__log-in{
    color: #000;
    width: 110px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid black;
    font-family: Graphik LC TT, sans-serif;
}

.header__log-in:hover{
    cursor: pointer;
}

.header__try-it-free{
    color: #fff;
    width: 110px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: 1px solid #FF6336;
    background-color: #FF6336;
    font-family: Graphik LC TT, sans-serif;
}

.header__try-it-free:hover {
    cursor: pointer;
}

/*Main content*/
/*First block*/
.first-block{
    display: flex;
}

.first-block__content{
    margin: 115px 50px 150px 75px;
}

.first-block__h1{
    font-family: Graphik LC TT, sans-serif;
    font-size: 65px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 50px;
}

.first-block__description{
    font-family: Graphik LC TT, sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    color: black;
    margin-bottom: 25px;
}

.first-block__buttons{
    margin-bottom: 50px;
}

.first-block__try-it-free{
    width: 160px;
    height: 55px;
    background-color: #FF6336;
    font-family: Graphik LC TT, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-right: 10px;
}

.first-block__try-it-free:hover{
    cursor: pointer;
}

.first-block__book-a-demo{
    width: 160px;
    height: 55px;
    background-color: #fff;
    border: 1px solid #000000;
    font-family: Graphik LC TT, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.first-block__book-a-demo:hover{
    cursor: pointer;
}

.first-block__add_inf{
    font-family: Graphik LC TT, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #000;
}

.first-block__img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-block__img > img{
    width: 759px;
    height: 529px;
}

/*Second block*/

.second-block{
    width: 100%;
    height: 450px;
    background-color: #FF9C7D;
    padding-top: 100px;
}

.second-block__text{
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    margin-bottom: 70px;
    font-family: Graphik LC TT, sans-serif;
}

.second-block__logos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.second-block__link1{
    width: 140px;
    height: 55px;
}

.second-block__link2{
    width: 75px;
    height: 55px;
}

.second-block__link3{
    width: 150px;
    height: 21px;
}

.second-block__link4{
    width: 112px;
    height: 25px;
}

.second-block__link5{
    width: 107px;
    height: 53px;
}

.second-block__link6{
    width: 150px;
    height: 19px;
}

/*Third block*/

.third-block__content{
    display: flex;
    justify-content: space-around;
}

.third-block__content2:not(:last-child){
    margin-bottom: 250px;
}

.third-block__content:nth-child(even){
    display: flex;
    flex-direction: row-reverse;
}

.third-block__content:nth-child(1){
    margin-top: 100px;
}

.third-block__content:nth-child(4){
    margin-bottom: 150px;
}

.third-block__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.third-block__header{
    color: #000;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 30px;
    font-family: Graphik LC TT, sans-serif;
}

.third-block__description{
    font-family: Graphik LC TT, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #000;
    margin-bottom: 30px;
}

.third-block__link{
    font-family: Graphik LC TT,sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.third-block__link a{
    color: #000;
}

.third-block__image{
    width: 632px;
    height: 632px;
}

/*Fourth block*/
.fourth-block{
    width: 100%;
    height: 1000px;
    background-color: #FFF8E4;
    padding-top: 120px;
}

.fourth-block__header p{
    font-family: Graphik LC TT,sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    margin-bottom: 60px;
}

.fourth-block__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fourth-block__content{
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.fourth-block__image{
    margin-bottom: 25px;
}

.fourth-block__image img{
    width: 160px;
    height: 120px;
}

.fourth-block__h2{
    font-family: Graphik LC TT, sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}

.fourth-block__description{
    font-family: Graphik LC TT, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: black;
    text-align: center;
}

/*Fifth block*/
.fifth-block{
    padding-top: 155px;
    padding-bottom: 215px;
}

.fifth-block__header{
    font-family: Graphik LC TT, sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: black;
    text-align: center;
    margin-bottom: 75px;
}

.fifth-block__container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fifth-block__content{
    display: flex;
    flex-direction: column;
}

.fifth-block__image1{
    margin-bottom: 46px;
}

.fifth-block__image1 img{
    width: 145px;
    height: 201px;
}

.fifth-block__image2{
    margin-bottom: 80px;
}

.fifth-block__image2 img{
    width: 179px;
    height: 166px;
}

.fifth-block__image3{
    margin-bottom: 65px;
}

.fifth-block__image3 img{
    width: 179px;
    height: 183px;
}

.fifth-block__h2 {
    font-family: Graphik LC TT,sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 35px;
}

.fifth-block__description{
    font-family: Graphik LC TT, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-bottom: 25px;
}

.fifth-block__link a{
    font-family: Graphik LC TT, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: black;
    text-decoration: underline;
}

/*Sixth block*/
.sixth-block{
    width: 100%;
    height: 468px;
    padding-top: 53px;
    background-color: #C9E8F2;
}

.sixth-block__container{
    display: flex;
    justify-content: space-around;
}

.sixth-block__quote{
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 23px;
    font-family: Graphik LC TT, sans-serif;
}

.sixth-block__author{
    font-size: 15px;
    text-align: left;
    font-weight: 400;
    margin-bottom: 7px;
    font-family: Roboto, sans-serif;
}

.sixth-block__image img{
    width: 115px;
    height: 25px;
}

.sixth-block__photo img{
    width: 310px;
    height: 310px;
}

/*Seventh block*/
.seventh-block{
    width: 100%;
    height: 332px;
    background-color: #DABC98;
}

.seventh-block__container{
    display: flex;
    align-items: center;
    padding: 90px 75px 85px;
    justify-content: space-around;
}

.seventh-block__image1{
    width: 176px;
    height: 154px;
}

.seventh-block__header{
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
    font-family: Graphik LC TT, sans-serif;
}

.seventh-block__rate{
    width: 481px;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-left: 1px solid #000000;
}

.seventh-block__rate1{
    display: flex;
    flex-direction: column;
}

.seventh-block__img1{
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
}

.seventh-block__img2{
    width: 128px;
    height: 20px;
    margin-bottom: 14px;
}

.seventh-block__img3{
    width: 150px;
    height: 37px;
    margin-bottom: 20px;
}

.seventh-block__rate1 p{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.75px;
    font-family: Graphik LC TT, sans-serif;
}




